body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-google {
  background: #ee4b39;
  color: #fff;
}

.fa-google {
  display: block;
}

@media (min-width: 48rem) {
  .fa-google {
    display: inline;
  }
}
